If Constructs

In [5]:
marks=60
if marks >50:
    print('Marks is greater than 50')
else:
    print('Marks is less than 50')

Marks is greater than 50

In [7]:
marks=20
if marks>50:
	print('Marks is greater than 50')
else:
	print('Marks is less than 50')

Marks is less than 50

In [8]:
x=150
if x>100:
	print('The value of x is greater than 100')
else:
	print('The value of x is less than 100')

The value of x is greater than 100

In [10]:
#odd or even find
x=10
if x%2==0:
	print('The number is even')
else:
	print('The number is odd')

The number is even

In [11]:
x=11
if x%2==0:
	print('The number is even')
else:
	print('The number is odd')

The number is odd

In [12]:
x=10
if x%2==1:
	print('The number is odd')
else:
	print('The number is even')

The number is even

In [13]:
x=13
if x%2==1:
	print('The number is odd')
else:
	print('The number is even')

The number is odd

In [16]:
p=int(input("Enter any value"))
if p%2==0:
	print("even")
else:
	print("odd")

Enter any value20
even

In [18]:
marks=90
if marks==90:
	print("Excellent")
else:
	print("Average")

Excellent

In [19]:
#iteration
my_iterable=[1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [20]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for num in mylist:
	print(num)

1
2
3
4
5
6
7
8
9
10

In [21]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for num in mylist:
	print("hello", end=" ")

hello hello hello hello hello hello hello hello hello hello

In [23]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for num in mylist:
	if num%2==0:
		print(num, end=" ")

2 4 6 8 10

In [28]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for num in mylist:
	if num%2==0:
		print("num")
	else:
		print(f'odd numbers: (num)')

odd numbers: (num)
num
odd numbers: (num)
num
odd numbers: (num)
num
odd numbers: (num)
num
odd numbers: (num)
num

In [31]:
list_sum=0
for num in mylist:
	list_sum=list_sum+num
	print(list_sum, end=" ")

1 3 6 10 15 21 28 36 45 55

In [32]:
list_sum=0
for num in mylist:
	list_sum=list_sum+num
print(list_sum)

55

In [34]:
mystring="hello world"
for letter in mystring:
	print(letter, end=" ")

h e l l o   w o r l d

In [35]:
mylist=[(1,2),(2,3),(3,4),(4,6)]
len(mylist)
for item in mylist:
	print(item)

(1, 2)
(2, 3)
(3, 4)
(4, 6)

In [36]:
mylist=[(1,2),(2,3),(3,4),(4,6)]
len(mylist)
for (a,b) in mylist:
	print(a)
	print(b)

1
2
2
3
3
4
4
6

In [38]:
for num in range(10):
	print(num, end=" ")

0 1 2 3 4 5 6 7 8 9

In [40]:
for num in range(0,20,2):
	print(num, end=" ")

0 2 4 6 8 10 12 14 16 18

In [42]:
for i in[1,2,3,4,5]:
    print(i)

1
2
3
4
5

Break Statement

In [44]:
#break
for i in[1,2,3,4,5]:
    if i==3:
        break
    print(i)

1
2

In [46]:
for i in['apple', 'mango', 'banana', 'orange', 'grapes']:
	print(i, end=" ")

apple mango banana orange grapes

In [48]:
for i in['apple', 'mango', 'banana', 'orange', 'grapes']:
    if i == 'banana':
        break
    print(i)

apple
mango

In [52]:
for k in[10,20,30,40,50] :
    if k==30:
        break
    print(k)

10
20

In [53]:
for i in[1,2,3,4,5]:
    print(i)
    print("end")

1
end
2
end
3
end
4
end
5
end

In [54]:
for i in[1,2,3,4,5]:
    if i==3:
        break
    print(i)
    print("end")

1
end
2
end

In [55]:
for i in['apple', 'mango', 'banana', 'orange', 'grapes']:
	print(i)
	print("end")

apple
end
mango
end
banana
end
orange
end
grapes
end

In [56]:
for i in['apple', 'mango', 'banana', 'orange', 'grapes']:
    if i == 'banana':
        break
    print(i)
    print("end")

apple
end
mango
end

In [59]:
for k in [10,20,30,40,50]:
    if k==30:
        break
    print(k)
    print("end")

10
end
20
end

In [63]:
for k in[10,20,30,40,50]:
    if k==30:
        break
    print(k)
    print("end")
print("end of for loop")

10
end
20
end
end of for loop

In [65]:
for k in[10,20,30,40,50]:
    if k==30:
        break
    print(k)
    print("end")
    print("end of for loop")

10
end
end of for loop
20
end
end of for loop

In [66]:
for i in[1,2,3,4,5]:
    print(i)

1
2
3
4
5

Continue Statement

In [67]:
#continue
for i in[1,2,3,4,5]:
    if i==3:
        continue
    print(i)

1
2
4
5

In [2]:
for j in[10,20,30,40,50]:
    if j==40:
        continue
    print(j)

10
20
30
50

In [69]:
for j in[10,20,30,40,50]:
    if i==40:
        continue
    print(j)
    print("end")

10
end
20
end
30
end
40
end
50
end

In [4]:
for j in[10,20,30,40,50]:
    if j==40:
        continue
    print(j)
    print("end")
print("End of the continue statement")

10
end
20
end
30
end
50
end
End of the continue statement

In [6]:
for p in ['apple', 'mango', 'banana', 'grapes', 'papaya']:
    if p == 'banana':
        continue
    print(p)

apple
mango
grapes
papaya

In [7]:
for p in ['a', 'b', 'c', 'd']:
    if p =='c':
        continue
    print(p)

a
b
d

List Comprehension

In [71]:
#list comprehension
list1=[10,20,30,40,50]
s=[s for s in list1]
s

[10, 20, 30, 40, 50]

In [72]:
list2=[1,2,3,4,5,6,7,8,9,10]
m=[p for p in list2]
m

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
list2=[1,2,3,4,5,6,7,8,9,10]
c=[p for p in list2 if p%2==0]
c

[2, 4, 6, 8, 10]

In [74]:
list2=[1,2,3,4,5,6,7,8,9,10]
c=[p for p in list2 if p%2!=0]
c

[1, 3, 5, 7, 9]