Importing the dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/Telecom_customer_churn.csv')

In [3]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [ ]:
df.columns

In [ ]:
df.head()

Checking Null values in the dataframe.

np.nan, None, Nan, others

In [ ]:
df.isnull().sum()

In [ ]:
df.columns

Since there are no null values then we can proceed

In [ ]:
a=12
type(a)

In [ ]:
b='12'
type(b)

In [ ]:
#figure in rupees
price = '200'
#type(price)
f=int(price)
type(f)

# Checking the datatypes of the columns

In [ ]:
df.dtypes

we can observe that the "Total charges" has continuous data but is is an objct type. Let us handle this column.

In [ ]:
df["TotalCharges"].unique()

In [ ]:
df["TotalCharges"].nunique()

In [ ]:
df.shape[0]

In [ ]:
df.loc[df['TotalCharges']==" "]

After some observations, we saw the some columns have space as the value.

In [ ]:
df["TotalCharges"]=df["TotalCharges"].replace(" ",np.nan)

In [ ]:
df.isnull().sum()

Converting the column type from object to float.

In [ ]:
df["TotalCharges"]=df["TotalCharges"].astype(float)

In [ ]:
df.TotalCharges.dtype

Now we can see total charges columns has some space values which is replaced by nan values. Now we will handle the nan values.

Handling the Nan values and replacing it with the mean of the column. As the column is continuous in nature.

In [ ]:
np.mean(df["TotalCharges"])

In [ ]:
df.iloc[6670,:]

In [ ]:
df["TotalCharges"] = df["TotalCharges"].fillna(np.mean(df["TotalCharges"]))

In [ ]:
df.iloc[6670,:]

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes

# Making DataFrame for the Nominal Data

In [ ]:
df_visualization_nominal=df[['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']].copy()

In [ ]:
df_visualization_nominal.columns

# Visualization of the Data:

For the nomial categorical data we will use countplot as it will give the frequency of the classes of the columns:

In [ ]:
import seaborn as sns

In [ ]:
ax = sns.countplot(x='gender', data=df_visualization_nominal)
print(df_visualization_nominal['gender'].value_counts())

from the above observations the total number of male is 3555 and total number of female customer is 3488.

In [ ]:
ax = sns.countplot(x="SeniorCitizen", data=df_visualization_nominal)
print(df_visualization_nominal["SeniorCitizen"].value_counts())

From the above observations the total number of younger customer is 5901 and total number of senior citizen customer is 1142.

In [ ]:
ax = sns.countplot(x="Partner", data=df_visualization_nominal)
print(df_visualization_nominal["Partner"].value_counts())

From the above observations the total number of married customer is 3402 and total number of unmarried customer is 3641.

In [ ]:
ax = sns.countplot(x="Dependents", data=df_visualization_nominal)
print(df_visualization_nominal["Dependents"].value_counts())

From the above observations the total number of dependent customer is 2110 and total number of independent customer is 4933.

In [ ]:
ax = sns.countplot(x="PhoneService", data=df_visualization_nominal)
print(df_visualization_nominal["PhoneService"].value_counts())

From the above observations the total number of customer using phone services is 6361 and total number of customer not using phoen services is 682.

In [ ]:
ax = sns.countplot(x="MultipleLines", data=df_visualization_nominal)
print(df_visualization_nominal["MultipleLines"].value_counts())

From the above observations the total number of customer not using any phone services is 682, using no multiple services is 3390 and using multiple services is 2971.

In [ ]:
ax = sns.countplot(x="InternetService", data=df_visualization_nominal)
print(df_visualization_nominal["InternetService"].value_counts())

From the above observations the total number of customer not using any internet services is 1526, fibre optics internet services is 3096 and using DSL internet services is 2421.

In [ ]:
ax = sns.countplot(x="OnlineSecurity", data=df_visualization_nominal)
print(df_visualization_nominal["OnlineSecurity"].value_counts())

From the above observations the total number of customer not using any internet services is 1526, using online security is 2019 and not using online security services is 3498.

In [ ]:
ax = sns.countplot(x="OnlineBackup", data=df_visualization_nominal)
print(df_visualization_nominal["OnlineBackup"].value_counts())

From the above observations the total number of customer not using any internet services is 1526, using online security is 2019 and not using online security services is 3498.

In [ ]:
ax = sns.countplot(x="DeviceProtection", data=df_visualization_nominal)
print(df_visualization_nominal["DeviceProtection"].value_counts())

In [ ]:
ax = sns.countplot(x="TechSupport", data=df_visualization_nominal)
print(df_visualization_nominal["TechSupport"].value_counts())

In [ ]:
ax = sns.countplot(x="StreamingTV", data=df_visualization_nominal)
print(df_visualization_nominal["StreamingTV"].value_counts())

In [ ]:
ax = sns.countplot(x="StreamingMovies", data=df_visualization_nominal)
print(df_visualization_nominal["StreamingMovies"].value_counts())

In [ ]:
ax = sns.countplot(x="Contract", data=df_visualization_nominal)
print(df_visualization_nominal["Contract"].value_counts())

In [ ]:
ax = sns.countplot(x="PaperlessBilling", data=df_visualization_nominal)
print(df_visualization_nominal["PaperlessBilling"].value_counts())

In [ ]:
ax = sns.countplot(x="PaymentMethod", data=df_visualization_nominal)
print(df_visualization_nominal["PaymentMethod"].value_counts())

In [ ]:
ax = sns.countplot(x="Churn", data=df_visualization_nominal)
print(df_visualization_nominal["Churn"].value_counts())

From the ordinal categorical data we will use lineplot as it will give the flow of the line of the classes of teh columns:

# Making dataframe of teh ordinal data.

In [ ]:
df_visualization_ordinal=df[["customerID", "tenure"]].copy()
sns.catplot(x="SeniorCitizen", y="tenure", data=df)

# Checking the distribution of the continuous value of the float type columns.

In [ ]:
df_visualization_continuous=df[["MonthlyCharges","TotalCharges"]].copy()

In [ ]:
import seaborn as sns
sns.displot(df_visualization_continuous['TotalCharges'], kde=True)

In [ ]:
sns.displot(df_visualization_continuous['MonthlyCharges'], kde=True)

Visualization part is completed

Since the dataset has a lot of string values. We ill use the encoding techniques to convert the string data to numerical one

# Encoding the DataFrame:

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
enc=OrdinalEncoder()

In [ ]:
for i in df.columns:
    if df[i].dtypes=="object":
        df[i]=enc.fit_transform(df[i].values.reshape(-1,1))

In [ ]:
df

# Describe the dataset:

In [ ]:
#only continuous columns
df.describe()

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(22,7))
sns.heatmap(df.describe(),annot=True,linewidths=0.1,linecolor="black",fmt="0.2f")

Checking the columns which are positively and negative correlated with the target columns:

In [ ]:
plt.figure(figsize=(22,7))
df.corr()['TotalCharges'].sort_values(ascending=False).drop(['TotalCharges']).plot(kind='bar',color='c')
plt.xlabel('Feature',fontsize=14)
plt.ylabel('column with target names', fontsize=14)
plt.title('correlation',fontsize=18)
plt.show()

In [ ]:
df.skew()

Keeping +/-0.5 as the range for skewness, here are the columns which does not lie within this range.

-Senior Citizen-categorical

-Dependents-categorical

-Phone Service-categorical

-Contract-categorical

-Total Charges-target variable

-Churn-categorical

Since, no column has skewness, we will not treat that.

# Outliers Check:

In [ ]:
df.dtypes

Checking the outliers on th eint and float type of columns.

In [ ]:
df['SeniorCitizen'].plot.box()

In [ ]:
df['TotalCharges'].plot.box()

In [ ]:
df['MonthlyCharges'].plot.box()

In [ ]:
df['tenure'].plot.box()

In [ ]:
df['SeniorCitizen'].unique()

Since the column Senior Citizen is ominal type, we cannot consider its data point as outlier.

# Considering the outlier removal

In [ ]:
df.shape

In [ ]:
from scipy.stats import zscore
import numpy as np
z=np.abs(zscore(df))
threshold=3
np.where(z>3)

In [ ]:
df_new_z=df[(z<3).all(axis=1)]
df_new_z

In [ ]:
df_new_z.shape

In [ ]:
#Percentage loss of data

In [ ]:
Data_loss=((7043-6361)/7043*100)

In [ ]:
Data_loss

Our data is becoming biased as it is not considering the case of Senior Citizens. Thus, we will not remove outliers.

Separating the columns into features and target:

In [ ]:
features=df.drop("TotalCharges",axis=1)
target=df["TotalCharges"]

Scaling the data using Min-Max Scaler:

In [ ]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
for i in range(0,100):
    features_train,features_test,target_train,target_test=train_test_split(features,target,test_size=0.2,random_state=1)
    lr.fit(features_train,target_train)
    pred_train=lr.predict(features_train)
    pred_test=lr.predict(features_test)
    print(f'At random state (i), the training accuracy is:- {r2_score(target_train,pred_train)}')
    print(f'At random state (i), the testing accuracy is:- {r2_score(target_test,pred_test)}')
    print('\n')

In [ ]:
features_train,features_test,target_train,target_test=train_test_split(features,target,test_size=0.2,random_state=12)

In [ ]:
#train the model
lr.fit(features_train,target_train)

In [ ]:
pred_test=lr.predict(features_test)

In [ ]:
print(r2_score(target_test,pred_test))

Cross-validation of the model:

In [ ]:
Train_accuracy=r2_score(target_train,pred_train)
Test_accuracy=r2_score(target_test,pred_test)

from sklearn.model_selection import cross_val_score
for j in range(2,10):
    cv_score=cross_val_score(lr,features,target,cv=j)
    cv_mean=cv_score.mean()
    print(f'At cross fold (j) the  cv score is (cv_mean) and accuracy score for training is (Train_accuracy) and accuracy for the testing is (Test_accuracy)')
    print("\n")

Since the number of folds don't havae such impact on the accuracy and c_score. So cv=5 is selected

Here we have handled the problem of the overfitting and the underfitting by checking the training and testing score.

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(8,6))
plt.scatter(x=target_test, y=pred_test, color='r')
plt.plot(target_test,target_test, color='b')
plt.xlabel('Actual charges', fontsize=14)
plt.ylabel('Predicted charges', fontsize=14)
plt.title('Linear Regression', fontsize=18)
plt.savefig('lr.png')
plt.show()

Best fit line is covering most of the datapoints which shows good fit of our model.

# Regularization:

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from sklearn.linear_model import Lasso

parameters = {'alpha' :[.0001, .01, .01, .1,1,10], 'random_state' :list(range(0,10))}

ls = Lasso()
clf = GridSearchCV(ls,parameters)
clf.fit(features_train,target_train)

print(clf.best_params_)

In [ ]:
#final model training
ls = Lasso(alpha=1, random_state=1)
ls.fit(features_train,target_train)
ls_score_training = ls.score(features_train,target_train)
pred_ls = ls.predict(features_test)
ls_score_training*100

In [ ]:
pred_ls = ls.predict(features_test)

In [ ]:
lss=r2_score(target_test,pred_ls)
lss*100

In [ ]:
cv_score=cross_val_score(ls,features,target,cv=5)
cv_mean=cv_score.mean()
cv_mean*100

# Ensemble technique:

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

parameters = {'criterion' :['mse', 'mae'], 
              'max_features':["auto", "sqrt", "log2"]}

rf = RandomForestRegressor()
clf = GridSearchCV(rf,parameters)
clf.fit(features_train,target_train)

print(clf.best_params_)

In [ ]:
rf=RandomForestRegressor(criterion="mae",max_features="auto")
rf.fit(features_train, target_train)
rf.score(features_train, target_train)
pred_decision = rf.predict(features_test)

rfs = r2_score(target_test,pred_decision)
print('R2 Score:',rfs*100)

rfscore = cross_val_score(rf,features,target,cv=5)
rfc = rfscore.mean()
print('Cross Val Score:',rfc*100)

We are getting model accuracy and cross validation both as 99.8% which shows our model is performing extremely well

In [ ]:
import pickle
filename = 'churn.pkl'
pickle.dump(rf, open(filename,'wb'))

# Conclusion:

In [ ]:
loaded_model = pickle.load(open('churn.pkl', 'rb'))
result = loaded_model.store(features_test, target_test)
print(result*100)

In [ ]:
conclusion=pd.DataFrame([loaded_model.predict(features_test)[:],pred_decision[:]],index=["Predicted", "Original"])

In [ ]:
conclusion