# Python Basics

Working with operators

In [1]:
1+1

2

In [2]:
2-1

1

In [3]:
3*2

6

In [4]:
10/2

5.0

floor division

In [7]:
10//2

5

modulo operator

In [8]:
10%2

0

In [9]:
11%2

1

In [10]:
15%3

0

In [11]:
2**2

4

In [12]:
2**3

8

In [13]:
4**2

16

In [14]:
5**3

125

In [15]:
7**2

49

In [16]:
8**3

512

working with variables

In [18]:
a=20

In [19]:
a

20

In [20]:
b=12

In [21]:
b

12

In [22]:
a+b

32

In [23]:
a-b

8

In [24]:
a*b

240

In [25]:
a/b

1.6666666666666667

In [26]:
c=a+b

In [27]:
c

32

In [28]:
d=a-b

In [29]:
d

8

In [30]:
e=a*b

In [31]:
e

240

In [32]:
print(c)

32

In [33]:
print("c=")

c=

In [34]:
print("c=",c)

c= 32

In [35]:
print("d=",d)

d= 8

In [36]:
print("sum=",c)

sum= 32

In [37]:
print("difference = ",d)

difference =  8

In [38]:
14/2

7.0

In [39]:
14//2

7

In [40]:
#find remainder
14%2

0

In [41]:
15%2

1

In [42]:
p="pune"

In [43]:
p

'pune'

In [44]:
m="Delhi"

In [45]:
m

'Delhi'

In [46]:
len("Delhi")

5

In [47]:
len("Newyork")

7

In [48]:
len("Dallas")

6

In [49]:
p

'pune'

In [50]:
len(p)

4

In [51]:
9+9

18

In [52]:
"9"+"9"

'99'

In [53]:
'9'+'9'

'99'

string concatenation

In [54]:
"Happy "+ "Birthday"

'Happy Birthday'

In [56]:
"SpaceX "+" is"+ " working" + " in" + " Space" + " tourism"

'SpaceX  is working in Space tourism'

In [57]:
"Elon"+"Musk"+"TESLA"+"CEO"

'ElonMuskTESLACEO'

In [65]:
firstname = "Richard"

In [66]:
lastname = "Branson"

In [67]:
firstname+lastname

'RichardBranson'

In [69]:
firstname = "Richard "

In [70]:
lastname = "Branson"

In [71]:
firstname+lastname

'Richard Branson'

In [72]:
print(firstname,lastname)

Richard  Branson

In [73]:
city="Banglore"

In [74]:
city

'Banglore'

area of rectangle

In [75]:
length=60
breadth=4

area = length*breadth

print("Area of Rectangle =", area)

Area of Rectangle = 240

Boolean Operator

In [76]:
25>5

True

In [77]:
68>56

True

In [78]:
80<30

False

In [79]:
46<2

False

In [80]:
6==6

True

In [81]:
6!=6

False

In [82]:
70==70

True

In [83]:
70!=70

False

In [84]:
5!=5

False

In [85]:
8!=3

True

In [87]:
t=99
p=60
t>p

True

user input

In [89]:
country =input("entry the country name")

entry the country nameIndia

In [90]:
country =input("entry the country name")
country

entry the country nameBharat

'Bharat'