# Object Oriented Programming (OOP)

Class in python

The basic idea behind an object-oriented programming (OOP) is to combine both data and associated procedures (known as methods) into a single unit which operate on the data. Suc a unit is called an object.

Python is an object-oriented language, everything in python is an object.

Class is a architecture of the object. It is a proper description of the attributes and methods of a class. For example, design of a car of same type is a class. You can create many objects from a class. Like you can make many cars of the same type from a design of car.

A user-defined prototype for an object that defines a set of attributes that characterize any object of the clas. The attributes are data members (class variables and instance variables) and methods, accessed via dot notation classes provide a means of bundling data and functionality together.

Creating a new class creates a new type of object, allowing new instances of that type to be made. Data member – A class variable or instance variable that holds data associated with a class and its objects.
Function – function is a code that specify some task

Instance – An individual object of a certain class. An object obj that belongs to a class circle, for example, Is an instance of the class circle.

OOPS – Object Oriented Programming 

Introduction

Object Oriented Programming (OOP) allows programmers to create their own objects that have methods and attributes.
Recall that after defining a string, list, dictionary, or other objects, you were able to call methods off of them with the .method_name() syntax.

How to use OOP

These methods act as function that use information about the object, as well as the object itself to return results, or change the current object.
For example this includes appending to a list, or counting the occurrences of an element in a tuple.

Structure of OOP

OOP allows users to create their own object the general format is often confusing when first encountered, and its selfulness may not be completely clear at first.
In general, OOP allows us to create code that is repeatable and organized.

Advantages of OOP

For much larger scripts of python code, function by themselves aren’t enough organization and repeatability.
Commonly repeated tasks and object can be defined with OOP to create code that is more usable.

In [1]:
#Methods and Functions in Python
mylist=[1,2,3]
mylist.append(4)
mylist

[1, 2, 3, 4]

In [2]:
mylist.pop()

4

In [3]:
mylist

[1, 2, 3]

In [4]:
def name_of_function():
#Docstring explains function,
    print("Hello")
name_of_function()

Hello

In [5]:
#Modular function – initialization constructor & normal function

class student:
	#initialization constructor --- to give values to data members
	def __init__ (self, name,grade):
		self.name=name
		self.grade=grade
	def display(self):
		print("Name:", self.name, "Grade:", self.grade)
#create object
stud1=student("Jack", 9)
stud1.display()

Name: Jack Grade: 9

In [6]:
#name & grade is instance variables
stud1.name

'Jack'

In [7]:
stud1.grade

9

In [8]:
stud2=student("Andrew", 10)
stud2.display()

Name: Andrew Grade: 10

In [9]:
stud2.name

'Andrew'

In [10]:
stud2.grade

10

In [9]:
class student:
	#class variable
	fees=8000
	def __init__ (self, name,grade):
		self.name=name
		self.grade=grade
	def display(self):
		print("Name:", self.name, "Grade:", self.grade)
#create object
s1=student("Lisa", 6)
s1.display()

Name: Lisa Grade: 6

In [10]:
student.fees

8000

In [11]:
s1.fees

8000

In [11]:
s2=student("John", 8)
s2.display() #method/member function

Name: John Grade: 8

In [13]:
class person:
	#constructor / initialization automatically called
	def __init__ (self,id,name):
		self.id=id
		self.name=name
	def display(self):
		print("ID=", self.id, "Name is ", self.name)

#instance / object
p1=person(101,"Andrew")
p1.display()

ID= 101 Name is  Andrew

In [14]:
p2=person(102, "John")
p2.display()

ID= 102 Name is  John

In [15]:
#Arguments and keyword arguments
#Arguments
def myfunc(a,b):
	return sum((a,b))*0.05
myfunc(10,20)

1.5

In [27]:
#Keyword Arguments
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My favorite fruit is', format(kwargs['fruit']))
    else:
        print("don’t find my favorite fruit")
myfunc(fruit='apple', veggie='lettuce', food='pizza')

My favorite fruit is apple

In [52]:
def myfunc(*args,**kwargs):
	print('I like () ()',format(args[0],kwargs['food']))
myfunc(10,20,30,fruit='orange',food='eggs')

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (4168943172.py, line 3)

In [39]:
def myfunc(*args,**kwargs):
	print(args)
	print(kwargs)
	print('I like () ()',format(args[0],kwargs['food']))
myfunc(10,20,30,fruit='orange',food='eggs')

SyntaxError: invalid syntax (749378792.py, line 5)

In [51]:
#Init method

class student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
s1=student("sam",25)
print(s1.name)
print(s1.age)
s2=student("Andrew",15)
print(s2.name)
print(s2.age)

sam
25
Andrew
15

In [62]:
class Employee:
#constructor / initialization automatically called
    def __init__ (self,name,age,id,salary):
        self.name=name
        self.age=age
        self.salary=salary
        self.id=id
class display:
    def display(self):
        print("inside display function")
        print(self.name,self.age, self.id, self.salary)

#instance / object
emp1=Employee("John",26,2000,234)
emp1=Employee("Andrew",30,3000,235)
emp1.display()
emp2.display()

AttributeError: 'Employee' object has no attribute 'display'

In [64]:
class company:
#class variable
    Revenue=80000
    def __init__(self,name,location,number_of_employees):
        self.name=name
        self.location=location
        self.number_of_employees=number_of_employees
c=company("George", "London",400)
print(c.name)
print(c.location)
print(c.number_of_employees)

George
London
400

In [66]:
company.Revenue

80000

In [67]:
print("c",c.Revenue)

c 80000

In [69]:
class car:
#A Simple class for cars
#constructor to initiatize
    def __init__ (self,company,color):
        self.company=company
        self.color=color
    #function to print car company and color 
    def display(self):
        print('This is a', self.color,self.company)
def main():
    c=car("Ferrari","Red")
    c.display()
if __name__=="__main__":
    main()

This is a Red Ferrari

In [71]:
class employee:
    def __init__(self,name,age):
        print("initialized method called")
        self.name=name
        self.age=age
    def getdata(self,name,age):
        print("getdata method called")
        self.name=name
        self.age=age

    def displaydata(self):
        print("Hello", self.name,self.age)
def main():
    e=employee("William",35) #here initialize will work
    e.displaydata()
    e.getdata("John",25)
    e.displaydata()
if __name__=="__main__":
	main()

initialized method called
Hello William 35
getdata method called
Hello John 25

In [88]:
class player:
    def __init__(self,name,age,sport):
        print("Initialized data for players")
        self.name=name
        self.age=age
        self.sport=sport
    def getdata(self,name,age,sport):
        print("Getting data for players")
        self.name=name
        self.age=age
        self.sport=sport
    def displaydata(self):
        print("Player details : ", self.name, self.age, self.sport)

def main():
    P1=player("Virat",35,"Cricket")
    P1.displaydata()

    P1.getdata("Richard",45,"Tennis")
    P1.displaydata()

    P2=player("Dhoni",25,"Cricket")
    P2.displaydata()

    P2.getdata("Vivian",65,"Cricket")
    P2.displaydata()

if __name__=="__main__":
    main()

Initialized data for players
Player details :  Virat 35 Cricket
Getting data for players
Player details :  Richard 45 Tennis
Initialized data for players
Player details :  Dhoni 25 Cricket
Getting data for players
Player details :  Vivian 65 Cricket

In [1]:
#Inheritance in Python
class Animal():
	def _init_(self):
		print('Animal Created')
	def who_am_i(self):
		print('I as an animal')
	def eat(self):
		print('I am eating')
myanimal.Animal()

NameError: name 'myanimal' is not defined