In [ ]:
#Numpy/Pandas
#Series/Dimentional 
#Data frame/2-dimentional
#Pandas Final
#Pandas is a python library for data analysis, pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool built on top of the Python programming language.

In [1]:
import pandas as pd
k=pd.Series([11,12,13,14,15])
k

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [2]:
a=pd.Series([1,2,3,4])
a

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
b=pd.Series([55,66,77,88,99])
b

0    55
1    66
2    77
3    88
4    99
dtype: int64

In [5]:
p=pd.Series([11,12,13,14,15,16])
p

0    11
1    12
2    13
3    14
4    15
5    16
dtype: int64

In [7]:
#index with series
p=pd.Series([11,12,13,14,15,16], index=[1,2,3,4,5,6])
p

1    11
2    12
3    13
4    14
5    15
6    16
dtype: int64

In [8]:
p=pd.Series([11,12,13,14,15,16], index=[1,2,3,4,5,6])
p

1    11
2    12
3    13
4    14
5    15
6    16
dtype: int64

In [9]:
b=pd.Series([100,200,300,400,500], index=[1,2,3,4,5])
b

1    100
2    200
3    300
4    400
5    500
dtype: int64

In [11]:
d=pd.Series([45,6,734,56,90,22], index=[100,101,102,103,104,105])
d

100     45
101      6
102    734
103     56
104     90
105     22
dtype: int64

In [12]:
import numpy as np
a=pd.Series([11,12,13,14], index=[100,101,102,103])
a

100    11
101    12
102    13
103    14
dtype: int64

In [13]:
s=pd.Series([1,2,3,4,5], index=[11,12,13,14,15],dtype=float)
s

11    1.0
12    2.0
13    3.0
14    4.0
15    5.0
dtype: float64

In [14]:
#accessing data from Series
s=pd.Series([20,34,39,42,59])
print(s[0])

20

In [15]:
s[3]

42

In [16]:
#retrieve first three elements
s=pd.Series([10,20,30,40,50,60,70,80])
print(s[0:3])

0    10
1    20
2    30
dtype: int64

In [17]:
#passing data from list
import numpy as np
data=np.array([1,2,3,4])
m=pd.Series(data)
m

0    1
1    2
2    3
3    4
dtype: int32

In [18]:
demodict={'Name':'X','Age':12}
s1=pd.Series(demodict)
s1

Name     X
Age     12
dtype: object

In [19]:
#Task create one dictionary object with cricketer name and run and pass it to pandas series print
ckr={'name':'virat','runs':243,'innings':3,'balls':56}
s2=pd.Series(ckr)
s2

name       virat
runs         243
innings        3
balls         56
dtype: object

In [20]:
#Pandas DataFrame
import pandas as pd
data = [1,2,3,4]
df=pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4

In [22]:
data=[['Alex',10],['Bob',12],['Clarke',13]]
df=pd.DataFrame(data)
df

        0   1
0    Alex  10
1     Bob  12
2  Clarke  13

In [23]:
data=[['Alex',10],['Bob',12],['Clarke',13]]
df=pd.DataFrame(data,columns=['Name','Age'])
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [24]:
data=[['Alex',10],['Bob',12],['Clarke',13]]
df=pd.DataFrame(data,columns=['Name','Age'],dtype=float)
df

C:\Users\Admin\AppData\Local\Temp\ipykernel_18208\3389389462.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df=pd.DataFrame(data,columns=['Name','Age'],dtype=float)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [26]:
data={'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df=pd.DataFrame(data)
df

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [27]:
#Note – Observe, Nan (Not a Number) is oppended in missing areas.
data = [{'a':1,'b':2}, {'a':5,'b':10,'c':20}]
df = pd.DataFrame(data,dtype=float)
print(df)

     a     b     c
0  1.0   2.0   NaN
1  5.0  10.0  20.0

In [28]:
data = [{'a':1,'b':2}, {'a':5,'b':10,'c':20}]
df=pd.DataFrame(data,index=['first','second'],dtype=float)
print(df)

          a     b     c
first   1.0   2.0   NaN
second  5.0  10.0  20.0

In [29]:
data = [{'a':1,'b':2}, {'a':5,'b':10,'c':20}]
#with two column indices, values same as dictionary keys
df1=pd.DataFrame(data,index=['first','second'], columns=['a','b'])
print(df1)

        a   b
first   1   2
second  5  10

In [30]:
#with two column indices with one index with other name
df2=pd.DataFrame(data, index=['first','second'], columns=['a','b1'])
print(df2)

        a  b1
first   1 NaN
second  5 NaN

In [31]:
#Addition of Rows
#Add new rows to a DataFrame using the append function. This function will append the rows at the end.
df1=pd.DataFrame([[1,2],[3,4]], columns = ['a','b'])
df1=pd.DataFrame([[1,2],[3,4]], columns = ['a','b'])
df3=df1.append(df2)
print(df3)

        a    b  b1
0       1  2.0 NaN
1       3  4.0 NaN
first   1  NaN NaN
second  5  NaN NaN

C:\Users\Admin\AppData\Local\Temp\ipykernel_18208\4164400733.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3=df1.append(df2)

Indexing and slicing in PANDAS
Using Label based (loc) function and index location based (iloc) function
Loc() Pandas provide various methods to have purely label based indexing.

In [32]:
import pandas as pd
import numpy as np

In [33]:
df=pd.DataFrame(np.random.randn(8,4),columns=['A','B','C','D'])
df

          A         B         C         D
0 -0.773288  1.410505  0.488753 -0.408254
1 -0.807433 -0.656557 -1.912422 -0.510819
2  1.360727 -0.188103  0.713413 -0.549435
3  0.573996  0.231842  0.041989 -0.485746
4 -1.227049  0.620931  0.218199  2.628258
5  0.237397 -1.183467  0.760232 -1.106515
6  0.261301 -0.334811  0.491066 -1.197414
7  0.129663  1.189084 -0.861414 -1.686887

loc[rowstart:rowend,'label or column name']

In [35]:
print(df.loc[:,'A'])

0   -0.773288
1   -0.807433
2    1.360727
3    0.573996
4   -1.227049
5    0.237397
6    0.261301
7    0.129663
Name: A, dtype: float64

In [ ]:
#df.loc[[‘indexname1’,’indexname2’,[labelA,labelB]] as location will take label only, it will not work with indexing in numeric format

In [36]:
print(df.loc[:,['C','D']])

          C         D
0  0.488753 -0.408254
1 -1.912422 -0.510819
2  0.713413 -0.549435
3  0.041989 -0.485746
4  0.218199  2.628258
5  0.760232 -1.106515
6  0.491066 -1.197414
7 -0.861414 -1.686887