Variable Number of Arguments

In [1]:
#*args = wildcard(many arguments)
def plus(*args):
    return sum(args)

In [2]:
#calling a function
plus(6,4,10)

20

In [3]:
plus(2,2,1,4,5)

14

In [4]:
def mu(*args):
    return max(args)

In [5]:
mu(9,90,78,45)

90

In [6]:
mu(19,80)

80

In [7]:
def mi(*args):
    return min(args)

In [8]:
mi(67,83,96)

67

In [9]:
def addthree(a,b,c):
    print(a+b+c)
addthree(5,8,2)

15

In [10]:
def sumfunction(a,b):
	result=a+b
	print(result)
sumfunction(2,4)

6

In [11]:
sumfunction(8,6,2)

TypeError: sumfunction() takes 2 positional arguments but 3 were given

In [ ]:
def sumfunction(a,b,c):
	result=a+b+c
	print(result)

In [ ]:
sumfunction(8,6,2)

In [ ]:
def sumfunc(a,b):
    result=a+b
    print(result)

In [12]:
def sumfunction(a,b):
	result=a+b
	print(result)
sumfunction(2,4)
Sumfunction(8,6,2)#because 3 functions

6

NameError: name 'Sumfunction' is not defined

In [13]:
def sumfunction1(a,b,c):
    result=a+b+c
    print(result)
sumfunction1(8,6,2)

16

In [14]:
#if you want use variable numbers use *args
def plus(*args):
    return sum(args)

In [15]:
plus(8,5,9,8,7,2,3)

42

In [16]:
#s=s+n or s+=n
def sumfunc(*numbers):
    s=0
    for n in numbers:
        s+=n
    return s

In [17]:
print(sumfunc(1,2))

3

In [18]:
print(sumfunc(1,2,3))

6

In [19]:
print(sumfunc(1,2,3,4))

10

Anonymous Function Lambda

A lambda function is a small function containing a single expression. Lambda functions can also act as anonymous functions where they don't require any name. These are very helpful when we have to perform small tasks with less code.

In [20]:
test = lambda x:x*2
test(5)

10

In [21]:
test(8)

16

In [22]:
test1add=lambda x,y :x+y
test1add(3,4)

7

In [23]:
m=lambda x,y,z:x+y+z
m(1,2,3)

6

In [24]:
#find square
square = lambda x:x**2
square(4)

16

In [25]:
#find squareroot
sqroot = lambda x:x**(1/2)
sqroot(64)

8.0

In [26]:
#find cube
cube=lambda x:x**3
cube(4)

64

In [27]:
#find cube root
cbroot = lambda x:x**(1/3)
cbroot(27)

3.0

In [48]:
addvar = lambda arg1, arg2:arg1 + arg2;
#Now you can call sum as a function
print("Value of total :", addvar(5,10))
print("Value of total :", addvar(30,40))

Value of total : 15
Value of total : 70

In [43]:
#Converting temperature in fahrenheit
def fahrenheit(T):
    return((9/5)*T + 32)

In [44]:
f=fahrenheit(35)
f

95.0

In [45]:
#Converting temperature in Celcius
def celcius(T):
    return((5/9)*(T - 32))

In [46]:
ce=celcius(95)
ce

35.0

In [53]:
def testin():
    x=int(input("Enter x"))
    t=lambda x:x**2
    print(t(x))

In [54]:
testin()

Enter x4
16

In [49]:
#lambda with fahrenheit
F= lambda x:(9/5)*x + 32;
F(38.4)

101.12

In [50]:
#map in lambda ......>it applies on list

In [51]:
mylist=[1,2,3,4]
#map(lambda x : x*2, mylist)

In [52]:
list(map(lambda x : x*2,mylist))

[2, 4, 6, 8]