In [14]:
import sqlite3

In [15]:
#Working with database using sql (structured query language)
#1.Create a connection object.
#2.From the connection object, create a cursor object.
#3.Using the cursor object, call the execute method with create table query as the parameter.

In [54]:
#create database
#student _database will be created in jupyter notebook home
#First connection object
db=sqlite3.connect("student_database.db")

In [55]:
#Cursor
#A cursor in SQL is a temporary work area created in system memory when a SQL statement is executed.
#A SQL cursor is a set of rows together with a pointer that identifies a current row. 
#It is a database object to retrieve data from a result set on row at a time.

In [56]:
#create cursor object from connection 
cur=db.cursor()

In [57]:
#Create table in student_database
#SQL data types –
#Integer –numeric values
#Real – decimal values
#Text ----character values
#Char(20) ----character values

In [58]:
cur.execute("create table student (id int primary key, name text, marks int)")

In [59]:
#Insert data in student table
cur.execute("insert into student(id,name,marks)values(1,'John',90)")
db.commit()

In [60]:
print(cur.rowcount,"Record(s)inserted")

1 Record(s)inserted

In [61]:
cur.execute("insert into student(id,name,marks)values(2,'Teena',100)")
db.commit()

In [62]:
results=cur.execute("select * from student")
for row in results:
    print(row)

(1, 'John', 90)
(2, 'Teena', 100)

In [63]:
cur.execute("insert into student values(3, 'Andrew', 70)")
db.commit()

In [64]:
results=cur.execute("select * from student")
for row in results:
    print(row)

(1, 'John', 90)
(2, 'Teena', 100)
(3, 'Andrew', 70)

In [65]:
cur.execute("insert into student values(4, 'Dorsey', 56)")
db.commit()

In [66]:
cur.execute("insert into student values(5, 'David', 45)")
db.commit()

In [67]:
cur.execute("insert into student values(6, 'Kim', 70)")
db.commit()

In [68]:
results=cur.execute("select * from student")
for row in results:
    print(row)

(1, 'John', 90)
(2, 'Teena', 100)
(3, 'Andrew', 70)
(4, 'Dorsey', 56)
(5, 'David', 45)
(6, 'Kim', 70)

In [69]:
#multiple record insertion
cur.execute("insert into student values(7, 'Kiara', 75),(8,'Jack',94)")
db.commit()
#count of records inserted
print(cur.rowcount,"Record * from student")

2 Record * from student

In [70]:
results=cur.execute("select * from student")
for row in results:
    print(row)

(1, 'John', 90)
(2, 'Teena', 100)
(3, 'Andrew', 70)
(4, 'Dorsey', 56)
(5, 'David', 45)
(6, 'Kim', 70)
(7, 'Kiara', 75)
(8, 'Jack', 94)

In [71]:
#Database will be created in the given location
db1=sqlite3.connect("C:/Users/Admin/studentdb.db")

In [72]:
cur1=db1.cursor()

In [73]:
cur1.execute("create table employee (id int, name text, age int)")

In [74]:
cur1.execute("insert into employee values(1, 'Melina', 32)")

In [75]:
print(cur1.rowcount, "Record(s) inserted")

1 Record(s) inserted

In [76]:
results=cur1.execute("select * from employee")

In [77]:
for row in results:
    print(row)

(1, 'Melina', 32)

In [78]:
#Working with original database---- student database
#Accessing data stored in SQLite using Python
results=cur.execute('select * from student')
for i in results:
    print(i)

(1, 'John', 90)
(2, 'Teena', 100)
(3, 'Andrew', 70)
(4, 'Dorsey', 56)
(5, 'David', 45)
(6, 'Kim', 70)
(7, 'Kiara', 75)
(8, 'Jack', 94)

In [79]:
results=cur.execute('select id, name from student')
for i in results:
    print(i)

(1, 'John')
(2, 'Teena')
(3, 'Andrew')
(4, 'Dorsey')
(5, 'David')
(6, 'Kim')
(7, 'Kiara')
(8, 'Jack')

In [80]:
results=cur.execute('select id, marks from student')
for i in results:
    print(i)

(1, 90)
(2, 100)
(3, 70)
(4, 56)
(5, 45)
(6, 70)
(7, 75)
(8, 94)

In [81]:
results=cur.execute('select * from student')
for i in results:
    print(i)

(1, 'John', 90)
(2, 'Teena', 100)
(3, 'Andrew', 70)
(4, 'Dorsey', 56)
(5, 'David', 45)
(6, 'Kim', 70)
(7, 'Kiara', 75)
(8, 'Jack', 94)